*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}
body {
  background-color: #fefefe;
}
.app {
  width: 66.66666667%;
  margin-left: auto;
  margin-right: auto;
}
.app__container {
  min-height: 600px;
  margin-bottom: 150px;
}
.app__header {
  margin-bottom: 20px;
}
.app__footer {
  width: 100%;
  height: 100px;
  margin-top: -100px;
  background-color: #2e5c78;
  padding: 0;
}
.panel {
  padding: 8px 10px;
  margin: 8px 10px;
}
/*
Buttons
*/
.button {
  border: none;
  text-transform: uppercase;
  padding: 10px 13px;
  min-width: 100px;
}
.button:hover {
  cursor: pointer;
}
.button--ok {
  border: none;
  text-transform: uppercase;
  padding: 10px 13px;
  min-width: 100px;
  background-color: #71ff71;
}
.button--ok:hover {
  cursor: pointer;
}
.button--ok:hover {
  background-color: #3eff3e;
}
.button--warning {
  border: none;
  text-transform: uppercase;
  padding: 10px 13px;
  min-width: 100px;
  background-color: #ffff71;
}
.button--warning:hover {
  cursor: pointer;
}
.button--warning:hover {
  background-color: #ffff3e;
}
.button--danger {
  border: none;
  text-transform: uppercase;
  padding: 10px 13px;
  min-width: 100px;
  background-color: #ff7171;
}
.button--danger:hover {
  cursor: pointer;
}
.button--danger:hover {
  background-color: #ff3e3e;
}
/*
News Form
*/
.form {
  width: 50%;
  margin: 0 auto;
  padding: 8px 10px;
}
.form__group,
.form__control {
  padding: 8px 10px;
  margin: 8px 10px;
}
input.form__control,
textarea.form__control {
  width: 100%;
  line-height: 1.5em;
}
input.form__control:focus,
textarea.form__control:focus {
  box-shadow: #39a5de 0 0 0 2px;
}
input.form__control,
textarea.form__control,
button.form__control {
  border: 1px solid #39a5de;
}
button.form__control {
  float: right;
}
/*
News Preview
*/
.news--page .news:hover {
  border: none;
  cursor: default;
  background-color: unset;
  opacity: unset;
}
.news--page .news__header {
  text-align: center;
  font-size: 1.9em;
  margin-bottom: 10px;
}
.news--page__controls {
  float: right;
}
.news {
  display: inline-block;
  width: 100%;
}
.news:hover {
  border: -1px solid #2bbb5b;
  cursor: pointer;
  background-color: #eeeeee;
  opacity: 0.5;
}
.news__header {
  font-size: 1.3em;
  color: #39a5de;
  margin: 5px 3px 5px 10px;
  text-align: left;
}
.news__content {
  padding: 8px 10px;
}
.news__content img {
  float: left;
  margin: 10px 10px 10px 5px;
}
.news--date {
  font-size: 0.6em;
  font-style: italic;
  font-weight: 500;
  color: #000;
  margin: 3px 5px;
  float: right;
}
.menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.menu__item {
  display: block;
  padding: 8px 10px;
  margin: 1px 0;
  background-color: #0e90d2;
  border: none;
}
.menu__item:hover {
  cursor: pointer;
  background-color: #0b6fa2;
}
.menu__item--icon {
  margin-right: 20px;
  float: left;
}
.menu__item--image {
  float: right;
}
.menu__item--content {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: 1.1em;
  color: #ffffff;
}
.menu__item--icon,
.menu__item--image,
.menu__item--content {
  display: inline-block;
}
/*
#39a5de
#2bbb5b
*/
