/*
News Form
*/

.form {
  width: @width--6;
  margin: 0 auto;
  padding: 8px 10px;
}

.form__group, .form__control {
  padding: 8px 10px;
  margin: 8px 10px;
}

input.form__control,
textarea.form__control {
  width: 100%;
  line-height: 1.5em;
  &:focus {
    box-shadow: #39a5de 0 0 0 2px;
  }
}

input.form__control,
textarea.form__control,
button.form__control {
  border: 1px solid #39a5de;
}

/*
News Preview
*/

.news {
  display: inline-block;
  width: @width--6;
  &:hover {
    border: -1px solid #2bbb5b;
    cursor: pointer;
    background-color: #eeeeee;
    opacity: 0.5;
  }
}

.news--content {

}

.news__header {
  font-size: 1.3em;
  color: #39a5de;
  margin: 5px 3px 5px 10px;
  text-align: left;
}

.news__body {
  padding: 8px 10px;
  img {
    float: left;
    margin: 10px 10px 10px 5px;
  }
}

.news--date {
  font-size: 0.6em;
  font-style: italic;
  font-weight: 500;
  color: #000;
  margin: 3px 5px;
  float: right;
}

/*News List*/
.news--list {
  width: @width--8;
  margin: 50px auto;
}

.news--list__panel {
  margin: 10px 0;
  padding: 10px 0;
}